@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scrollbar-color: #8e8e8e #fff;
  scrollbar-width: thin;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  background-color: #fff;
  font-family: Poppins, sans-serif;
  position: relative;
  
 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
